
.diseñoPeliculas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: beige;
    height: 20em;
    width: 60em;
}


.infoIzquierda {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20em;
    width: 30em;
}

.infoDerecha {
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 20em;
    width: 150em;
} 

.datosPelicula {
    height: 3em;
    width: 6em;
    background-color: brown;
}